<!-- Language Switcher Widget -->
<div class="widget widget-language-switcher">
  <h4 class="widget__title">🌐 {{ i18n "language" }} / Language</h4>
  <div class="widget__content">
    <div class="language-switcher">
      {{ range .Site.Languages }}
        {{ if eq .Lang $.Site.Language.Lang }}
          <span class="language-link language-link--active">
            {{ .LanguageName }}
          </span>
        {{ else }}
          {{ if eq .Lang "vi" }}
            <a href="{{ "/" | relURL }}" class="language-link" title="Switch to {{ .LanguageName }}">
              {{ .LanguageName }}
            </a>
          {{ else }}
            <a href="{{ printf "/%s/" .Lang | relURL }}" class="language-link" title="Switch to {{ .LanguageName }}">
              {{ .LanguageName }}
            </a>
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>